$topBarHeight: 64px;

$sideBarWidth: 220px;

$whiteColor: #FFFFFF;

$activeColorMenu: #00D7FF;
$focusColorMenu: #009EBB;
$hoverColorMenu: #66E7FF;

$activeColor: #00D7FF;
$focusColor: #009EBB;
$hoverColor: #66E7FF;

$textColorDisable: rgba(0, 0, 0, .25);
$textColorCaption: rgba(0, 0, 0, .45);
$textColorBody: rgba(0, 0, 0, .65);
$textColorTitle: rgba(0, 0, 0, .85);

$textWhiteColor: rgba(255, 255, 255, .65);
$textWhiteColorBold: rgba(255, 255, 255, .85);

$borderColor: #CDCDCD;
$borderColorInput: #D9D9D9;
$borderColorTable: #F7F7F7;

$disabledColor: rgba(0, 0, 0, .25);
$disabledBgColor: rgba(0, 0, 0, .04);
$borderColorBox: #DCDFE6;

$linkColor: #1890FF;

$tableHoverColor: rgba(0, 215, 255, 0.05);

$fontSizeCaption: 12px;
$fontSizeBody: 14px;
$fontSizeHead: 16px;

$fontSizeBolder: 18px;
$fontSizeDisplay: 20px;
$fontSizeTitle: 24px;
$fontSizeHeadXXL: 30px;
$fontSizeHeadXXXL: 38px;

$fontWeight: 400;
$fontWeightBold: 500;
$fontWeightBolder: 600;
